nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow
    .navbar-collapse.collapse.w-100.dual-collapse2.order-1.order-md-0
        ul.navbar-nav.ml-auto.text-center(style="margin-right: 30px")
            - if (req.isAuthenticated())
                li.nav-item
                    a.nav-link(href="/", title="Routes", id="navRoutes") Routes
                li.nav-item
                    a.nav-link(href="/users/" + req.user.id, title="Routes", id="navGenerate") Generate
            - else
                li.nav-item
                    a.nav-link(href="/", title="Routes", id="navRoutes2") Routes

    .mx-auto.my-2.order-0.order-md-1.position-relative
        a.navbar-brand.mx-auto(href='/', style="color:white;") Explox
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='.dual-collapse2')
            span.navbar-toggler-icon
    .navbar-collapse.collapse.w-100.dual-collapse2.order-2.order-md-2
        ul.navbar-nav.mr-auto.text-center(style="margin-left: 30px")
            - if (req.isAuthenticated())
                li(class=isActive('/login') ? 'active' : '')
                    a.nav-link(href="/users/" + req.user.id, title="Login", id="navProfile") Profile
                li.nav-item
                    a.nav-link(href="/logout", title="logout", id="navLogout") Logout
            - else
                li(class=isActive('/login') ? 'active' : '')
                    a.nav-link(href="/login", title="Login", id="navLogin") Login


