head
  meta(charset="utf-8")
  title Map
  style.
        #map {
            height: 500px;
        }

        .container .content .leaflet-container {
            background: rgba(0, 0, 0, .8) !important;
        }

        #all-examples-info {
            position: absolute;
            background: white;
            font-size: 16px;
            padding: 20px;
            top: 100px;
            width: 350px;
            line-height: 150%;
            border: 1px solid rgba(0, 0, 0, .2);
        }

        .leaflet-control-container .leaflet-routing-container {
            display: none;
         }

  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css")
  script(src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js")
  //script(src='/js/heatmap.js/build/heatmap.js')
  script(src='/js/leaflet-maskcanvas/QuadTree.js')
  script(src='/js/leaflet-maskcanvas/L.GridLayer.MaskCanvas.js')

  link(rel='stylesheet', href='https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css')
  script(src='https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js')
  script(type='text/javascript', src='/js/icon-glyph.js')

    //script(src='/js/leaflet-heatmap/leaflet-heatmap.js')
  link(href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
  link(href="/css/jquery.tagsinput.css", rel="stylesheet")
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
  link(rel="stylesheet", href="/css/app.css")


  //
     HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  //if lt IE 9
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
