- if (typeof info != 'undefined' && info.length)
  .fade.show.alert.alert-info
    ul
      - each inf in info
        li= inf

- if (typeof errors != 'undefined' && errors.length)
  .fade.show.alert.alert-danger
    ul
      - each error in errors
        li= error

- if (typeof success != 'undefined' && success.length)
  .fade.show.alert.alert-success
    ul
      - each succ in success
        li= succ

- if (typeof warning != 'undefined' && warning.length)
  .fade.show.alert.alert-warning
    ul
      - each warn in warning
        li= warn
