- if (comment && comment.user)
  .comment
    - var name = comment.user.name ? comment.user.name : comment.user.username
    p
      a(href="/users/"+comment.user._id)= name
      |  :&nbsp;
      = comment.body
    p.muted
      form.form-inline(role="form", method="post", action="/routes/" + article._id + "/comments/" + comment._id, onsubmit="return confirm('Are you sure?')")
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        span.muted= formatDate(comment.createdAt)
        | &emsp;
        input(type="hidden", name="_method", value="DELETE")
        button.btn.btn-danger.btn-sm.btn-link.error.float-right(type="submit") delete
