
/* Sticky footer styles
-------------------------------------------------- */
@import  url(https://fonts.googleapis.com/css?family=Montserrat);

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

table, th, td {
    padding: 5px 15px;
    text-align: left;
}

a {
  color: #ff7100;
}

a:hover {
  color: #ff7100;
}

input {
    margin-top: 15px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
th {
    background-color: #ff7100;
    color: white;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* -----------------------------------------------
  App styles
  ------------------------------------------------ */

body {
  padding-top: 0px;
  margin-left: 0px;
}

.article, .comment {
  border-bottom: 1px solid #e8e8e8;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.error,
a.error,
a.error:hover,
a.error:focus,
button.error,
button.error:hover,
button.error:focus {
  color: #D9534F;
}

.form-actions {
  background: #fff;
  border: 0;
}

#spacer {
  display: inline-block;
}

.muted {
  color: #aaa;
  font-size: 12px;
}

.alert {
  margin-top: 10px;
}

.navbar-brand {
  font-size: 26px;
  color: #FFFFFF !important;
}

.navbar-right > li > a {
  padding-left: 5px;
  padding-right: 5px;
}

/**
 * Signup / login
 */

.form-signin input#email {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input#password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.row {
  margin: 0.5rem;
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.shadow:hover {
   box-shadow: 0px 5px 7px -3px rgba(0, 0, 0, 0.2), 0px 12px 20px 1px rgba(0, 0, 0, 0.14), 0px 4px 23px 4px rgba(0, 0, 0, 0.12);
 }

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
  border-radius: 0.3rem;
  height: 10rem;
  width: 10rem;
}

.card {
  padding: 10px;
  border: 0px;
  border-radius: 0.3rem;
  width: 100%;
}

.card-header {
  background: #212121;
}
.card-header::before {
   content: '';
   position: absolute;
   right: 100%;
   border: 1rem solid transparent;
   border-right: 1.25rem solid #212121;
 }

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    color: #ff7100;
    font-size: 16pt;
    margin-left: 10px;
}
.bounceball {
    position: relative;
    display: inline-block;
    height: 74px;
    width: 30px;
}
.bounceball:before {
     position: absolute;
     content: '';
     display: block;
     top: 0;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: #ff7100;
     transform-origin: 50%;
     animation: bounce 500ms alternate infinite ease;
 }

@keyframes bounce {
    0% {
        top: 60px;
        height: 10px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 30px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}