extends ../layouts/default
block main
    - var name = user.name ? user.name : user.username;
        h1= name
        //p= JSON.stringify(map.config)
            //p= JSON.stringify(map.maskConfig)
            //p= JSON.stringify(map.heatmapData)
            //p= JSON.stringify(user.activities.length) + " activities"
block map
    script.
        $(document).ready(function () {
            setTimeout(
                function () {
                    $("#sidebar").toggleClass("collapsed");
                    $("#sidebar-overview").toggleClass("active");
                    $("#overview").toggleClass("active");
                }, 2000);

            $('#coordinate-form').submit(function (e) {
                $("#sidebar-start").toggleClass("active");
                $("#start").toggleClass("active");
                $("#sidebar-settings").toggleClass("active");
                $("#settings").toggleClass("active");

                e.preventDefault();
                return false;
            });
            $('#settings-form').submit(function (e) {
                setTimeout(
                    function () {
                        $("#sidebar").toggleClass("collapsed");
                        $("#sidebar-settings").toggleClass("active");
                        $("#settings").toggleClass("active");
                    }, 1000);
                var lat = $('#input-lat').val();
                var lng = $('#input-lng').val();

                var inputLat = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "lat").val(lat);
                var inputLng = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "lng").val(lng);
                $('#settings-form').append($(inputLat));
                $('#settings-form').append($(inputLng));
            });
            $("#generate").on("click", function () {
                $("#sidebar-overview").toggleClass( "active" );
                $("#overview").toggleClass( "active" );
                $("#sidebar-start").toggleClass("active");
                $("#start").toggleClass("active");
            });
            $("#position-next").on("click", function () {
            });
            $("#sidebar-start").on("click", function () {
            });
        });



    div.sidebar.collapsed.box.shadow(id="sidebar")
        div.sidebar-tabs
            ul(role="tablist")
                li(id='sidebar-overview')
                    a(href="#overview" role="tab")
                        i.fa.fa-user
                li(id='sidebar-start')
                    a(href="#start" role="tab")
                        i.fa.fa-map-marker
                li(id='sidebar-settings')
                    a(href="#settings" role="tab")
                        i.fa.fa-sliders
        div.sidebar-content
            #overview.div.sidebar-pane
                h1.sidebar-header
                    | Overview
                p= userData
                div.row
                    button.btn.btn-outline-primary.btn-block(href='/users/' + user._id + '/update', title="update")
                        | Update Profile
                    button.btn.btn-outline-primary.btn-block(id="generate", title="generate")
                        | Generate New Route
            #start.sidebar-pane
                h1.sidebar-header
                    | Starting Point
                br
                p Klicke an die Position an der du deine Tour beginnen möchtest.
                form(id="coordinate-form")
                    h5 Ausgwählte Position
                    div.row
                        p Latitude:
                        input.form-control.form-control-lg(id="input-lat", type='text', placeholder="23,5246", style="margin-top: -10px", required)
                        br
                    div.row
                        p Latitude:
                        input.form-control.form-control-lg.float-left(id="input-lng", type='text', placeholder="130,5246", style="margin-top: -10px", required)
                        br
                    div.row
                        b(id="gps-calculated")
                        br
                    br
                    button.btn.btn-outline-primary.btn-block(type='submit') Next

            #settings.sidebar-pane
                h1.sidebar-header
                    | Settings
                br
                p Gebe gewünschte Eigenschaften deiner Route ein.
                form(action="/generate/", id="settings-form")
                    h5 Distanz:
                    input#number(type='number' value="1", style="margin-top:-10px; margin-bottom: 10px;")
                    br
                    h5 Sportart:
                    fieldset#group1
                        .btn-group.btn-group-toggle(data-toggle='buttons')
                            label.btn.btn-secondary.active
                                input(type='radio', value='cycling', name='sport', checked='')
                                | Radfahren
                            label.btn.btn-secondary
                                input(type='radio', value='running', name='sport')
                                | Laufen

                    br
                    h5 Schwierigkeit:

                    fieldset#group2
                        .btn-group.btn-group-toggle(data-toggle='buttons')
                            label.btn.btn-secondary.active
                                input(type='radio', value='beginner', name='difficulty')
                                | Anfänger
                            label.btn.btn-secondary
                                input(type='radio', value='advanced', name='difficulty')
                                | Fortgeschritten
                            label.btn.btn-secondary
                                input(type='radio', value='pro', name='difficulty', checked='')
                                | Profi
                    br
                    input.btn.btn-outline-primary.btn-block(type='submit')

    div.sidebar-map(id='map', style="width:100%;")
        include ../includes/map.jade
