extends ../layouts/default

block main
  - var name = user.name ? user.name : user.username;

      h1= name

      - if (data)
        h3= 'Dasboard'
        p= data

      - if (!data)
        p= userData


