extends ../layouts/default
block main
    - var name = user.name ? user.name : user.username;
        h1= name
        //p= JSON.stringify(map.config)
            //p= JSON.stringify(map.maskConfig)
            //p= JSON.stringify(map.heatmapData)
            //p= JSON.stringify(user.activities.length) + " activities"
block map
    script.
        $(document).ready(function () {
            setTimeout(
                function () {
                    $("#sidebar").toggleClass("collapsed");
                    $("#sidebar-overview").toggleClass("active");
                    $("#overview").toggleClass("active");
                }, 500);

            $("#toggle-button-beginner").on("click", function () {
                $("#toggle-button-beginner").addClass("active");
                $("#toggle-button-advanced").removeClass("active");
                $("#toggle-button-pro").removeClass("active");
                }
            );
            $("#toggle-button-advanced").on("click", function () {
                    $("#toggle-button-beginner").removeClass("active");
                    $("#toggle-button-advanced").addClass("active");
                    $("#toggle-button-pro").removeClass("active");
                }
            );
            $("#toggle-button-pro").on("click", function () {
                    $("#toggle-button-beginner").removeClass("active");
                    $("#toggle-button-advanced").removeClass("active");
                    $("#toggle-button-pro").addClass("active");
                }
            );

            $("#toggle-button-running").on("click", function () {
                    $("#toggle-button-cycling").removeClass("active");
                    $("#toggle-button-running").addClass("active");
                }
            );
            $("#toggle-button-cycling").on("click", function () {
                    $("#toggle-button-cycling").addClass("active");
                    $("#toggle-button-running").removeClass("active");
                }
            );

            $('#coordinate-form').submit(function (e) {
                $("#sidebar-start").toggleClass("active");
                $("#start").toggleClass("active");
                $("#sidebar-settings").toggleClass("active");
                $("#settings").toggleClass("active");

                e.preventDefault();
                return true;
            });
            $('#settings-form').submit(function (e) {
                var lat = $('#input-lat').val();
                var lng = $('#input-lng').val();

                var inputLat = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "lat").val(lat);
                var inputLng = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "lng").val(lng);
                $("#sidebar-settings").toggleClass("active");
                $("#settings").toggleClass("active");
                $('#settings-form').append($(inputLat));
                $('#settings-form').append($(inputLng));

                $("#sidebar-loading").toggleClass("active");
                $("#loading").toggleClass("active");
            });
            $("#generate").on("click", function () {
                $("#sidebar-overview").toggleClass( "active" );
                $("#overview").toggleClass( "active" );
                $("#sidebar-start").toggleClass("active");
                $("#start").toggleClass("active");

            });
            $("#position-next").on("click", function () {
            });
            $("#sidebar-start").on("click", function () {
            });
        });



    div.sidebar.collapsed(id="sidebar")
        div.sidebar-tabs
            ul(role="tablist")
                li(id='sidebar-overview')
                    a(href="#overview" role="tab")
                        i.fa.fa-user
                li(id='sidebar-start')
                    a(href="#start" role="tab")
                        i.fa.fa-map-marker
                li(id='sidebar-settings')
                    a(role="tab")
                        i.fa.fa-sliders
                br
                li(id='sidebar-loading')
                    a(role="tab")
                        i.fa.fa-search
                li(id='sidebar-routes')
                    a(role="tab")
                        i.fa.fa-star
        div.sidebar-content
            #overview.div.sidebar-pane
                h1.sidebar-header
                    | Overview
                p= userData
                div.row
                    a.btn.btn-outline-primary.btn-block(href='/users/' + user._id + '/update', title="update")
                        | Update Profile
                    button.btn.btn-outline-primary.btn-block(id="generate", title="generate")
                        | Generate New Route
            #start.sidebar-pane
                h1.sidebar-header
                    | Starting Point
                br
                p Klicke an die Position an der du deine Tour beginnen möchtest.
                form(id="coordinate-form")
                    h5 Ausgwählte Position
                    div.row
                        p Latitude:
                        input.form-control(id="input-lat", type='text', placeholder="23,5246", style="margin-top: -10px", required)
                        br
                    div.row
                        p Latitude:
                        input.form-control(id="input-lng", type='text', placeholder="130,5246", style="margin-top: -10px", required)
                        br
                    div.row
                        b(id="gps-calculated")
                        br
                    br
                    button.btn.btn-outline-primary.btn-block(type='submit') Next

            #settings.sidebar-pane
                h1.sidebar-header
                    | Settings
                br
                p Gebe gewünschte Eigenschaften deiner Route ein.
                form(action="/generate/", id="settings-form")
                    h5 Distanz:
                    div.row
                        div.col-xs-2
                            input(id="distance-input", onchange="this.value = parseFloat(this.value).toFixed(1);", type='number', name='distance', value="20.0", style="margin-top:-10px; margin-bottom: 10px;", max="99", min="1", size="2", step="0.5")
                            span(style="margin-left:10px") km
                        div.col-xs-5
                    br
                    h5 Sportart:
                    fieldset#group1
                        .btn-group.btn-group-toggle(data-toggle='buttons')
                            label.btn.btn-secondary.active(id="toggle-button-cycling")
                                input(type='radio', value='cycling', name='sport', checked='')
                                | Radfahren
                            label.btn.btn-secondary(id="toggle-button-running")
                                input(type='radio', value='running', name='sport')
                                | Laufen

                    br
                    h5 Schwierigkeit:

                    fieldset#group2
                        .btn-group.btn-group-toggle(data-toggle='buttons')
                            label.btn.btn-secondary.active(id="toggle-button-beginner")
                                input(type='radio', value='beginner', name='difficulty')
                                | Anfänger
                            label.btn.btn-secondary(id="toggle-button-advanced")
                                input(type='radio', value='advanced', name='difficulty')
                                | Fortgeschritten
                            label.btn.btn-secondary(id="toggle-button-pro")
                                input(type='radio', value='pro', name='difficulty', checked='')
                                | Profi
                    br
                    input.btn.btn-outline-primary.btn-block(type='submit')

            #loading.div.sidebar-pane
                h1.sidebar-header
                    | Suche
                div.row
                    .wrap
                        .loading
                            div.col-xs-2
                                .bounceball
                            div.col-xs-2
                                .text Routen werden gesucht ...

            #routes.div.sidebar-pane
                h1.sidebar-header
                    | Routen

    div.sidebar-map(id='map', style="width:100%;")
        include ../includes/map.jade
