extends ../layouts/default
block main
    - var name = user.name ? user.name : user.username;
            div.row
                div.col-sm-6
                    h1(style="margin-top: -20px")= name
                div.col-sm-6
                    a.btn.btn-outline-primary.float-right(style="margin-left: 10px;", href='/users/' + user._id + '/update', title="update")
                        | Update Profile
                    a.btn.btn-outline-primary.float-right(style="margin-left: 10px;", href='/users/', title="generate")
                        | Generate New Route

        //p= JSON.stringify(map.config)
            //p= JSON.stringify(map.maskConfig)
            //p= JSON.stringify(map.heatmapData)
            //p= JSON.stringify(user.activities.length) + " activities"
block map
    script.
        alert("fuck");
        $('#coordinate-form').submit(function (e) {
            alert("koordinatedn abgesendet");
            e.preventDefault();
            //sendContactForm();
            return false;
        });

    div.sidebar.collapsed(id="sidebar")
        div.sidebar-tabs
            ul(role="tablist")
                li
                    a(id="sidebar-start", href="#start" role="tab")
                        i.fa.fa-bars
                li
                    a(id="sidebar-settings", href="#settings" role="tab")
                        i.fa.fa-bars
        div.sidebar-content
            #start.sidebar-pane
                h1.sidebar-header
                    | Starting Point
                br
                p Klicke an die Position an der du deine Tour beginnen möchtest.
                form(id="coordinate-form")
                    h3 Ausgwählte Position
                    input.form-control.form-control-lg(type='text', placeholder="23,5246W")
                    input.form-control.form-control-lg(type='text', placeholder="130,5246N")
                    br
                    input(type='submit')

            #settings.sidebar-pane
                h1.sidebar-header
                    | Settings
                form(id="settings-form")
                    h3 Distanz:
                    input#number(type='number' value="1")
                    br
                    h3 Sportart:
                    fieldset#group1
                        .btn-group.btn-group-toggle(data-toggle='buttons')
                            label.btn.btn-secondary.active
                                input(type='radio', value='cycling', name='sport', checked='')
                                | Radfahren
                            label.btn.btn-secondary
                                input(type='radio', value='running', name='sport')
                                | Laufen

                    br
                    h3 Schwierigkeit:

                    fieldset#group2
                        .btn-group.btn-group-toggle(data-toggle='buttons')
                            label.btn.btn-secondary.active
                                input(type='radio', value='beginner', name='difficulty')
                                | Anfänger
                            label.btn.btn-secondary
                                input(type='radio', value='advanced', name='difficulty')
                                | Fortgeschritten
                            label.btn.btn-secondary
                                input(type='radio', value='pro', name='difficulty', checked='')
                                | Profi
                    br
                    input(type='submit')


    include ../includes/map.jade
    p= userData