extends layouts/default

block main

    // Jumbotron Header
    div
        h1.display-3 Welcome Athletes!
        p.lead
            | Tired of running or cycling the same old routes over and over again? Explox takes your and other atheltes' activity history and creates new and unique routes for you. All you need is an account on Strava.
        - if (!req.isAuthenticated())
            a.btn.btn-outline-primary(href='/login') Log In
            | &nbsp;
            a.btn.btn-primary(href='/signup') Sign Up

        br
        br
        // Page Features
        div.row.text-center
            .col-lg-4.col-md-6.mb-4
                .card.shadow
                    img.card-img-top(src='img/routes.png', alt='')
                    .card-body
                        h4.card-title Strava Routes
                        p.card-text
                            | Find out which routes other athletes take, try them out and give feedback.
                    .card-footer
                        - if (!req.isAuthenticated())
                            a.btn.btn-primary(href='/about') Find Out More
                        - else
                            a.btn.btn-primary(href='/routes') See Routes
            .col-lg-4.col-md-6.mb-4
                .card.shadow
                    img.card-img-top(src='/img/map.png', alt='')
                    .card-body
                        h4.card-title Activity Map
                        p.card-text
                            | Mix up your routine by finding areas that you have not visited yet.
                    .card-footer
                        - if (!req.isAuthenticated())
                            a.btn.btn-primary(href='/about') Find Out More
                        - else
                            a.btn.btn-primary(href="/users/" + req.user.id) See Yours
            .col-lg-4.col-md-6.mb-4
                .card.shadow
                    img.card-img-top(src='img/generate.png', alt='')
                    .card-body
                        h4.card-title Route Generation
                        p.card-text
                            | Get personalized route recommendations and explore your area.
                    .card-footer
                        - if (!req.isAuthenticated())
                            a.btn.btn-primary(href='/about') Find Out More
                        - else
                            a.btn.btn-primary(href="/users/" + req.user.id) Start Now
        // /.row

