doctype html
html(lang="en")
  include ../includes/head.jade
  body
    include ../includes/header.jade
    .container(style="margin-top:20px;")
      .page-header
        block main
    .container-fluid(style="width:100%; position:absolute")
      .row
        block map
    .container(style="margin-top:20px;")
      .messages
        include ../includes/messages.jade
      .content
        block content
    include ../includes/footer.jade
    include ../includes/foot.jade
